{% extends 'base.html' %}

{% block title %}Информация 1{% endblock %}

{% block content %}
<h1>Информационная страница 1</h1>

<!-- Внутренняя навигация по якорям на этой странице -->
<p>
  <a href="#section1">К разделу 1</a> |
  <a href="#section2">К разделу 2</a> |
  <a href="#section3">К разделу 3</a>
</p>

<hr/>

<h2 id="section1">Раздел 1</h2>
<p>Текстовая информация о разделе 1.</p>
<ul>
  <li>Пункт ненумерованного списка 1</li>
  <li>Пункт ненумерованного списка 2
    <ul>
      <li>Вложенный пункт 1</li>
      <li>Вложенный пункт 2</li>
    </ul>
  </li>
  <li>Пункт ненумерованного списка 3</li>
</ul>

<hr/>

<h2 id="section2">Раздел 2</h2>
<p>Текстовая информация о разделе 2.</p>
<ol>
  <li>Первый пункт нумерованного списка</li>
  <li>Второй пункт нумерованного списка</li>
  <li>Третий пункт нумерованного списка</li>
</ol>


<p><a href="#section1">Вернуться к началу страницы</a></p>
{% endblock %}
