{% extends 'base.html' %}

{% block title %}Задача 1004{% endblock %}

{% block content %}
<h1>Задача №1004</h1>
<p>Можно ли в квадратном зале площадью <b>S</b> поместить круглую сцену радиусом <b>R</b>,
чтобы от стены до сцены был проход не менее <b>K</b>?</p>

<form method="POST">
    {% csrf_token %}
    <label for="id_S">Площадь зала (S): </label>
    <input type="number" step="any" name="S" id="id_S" required><br/><br/>

    <label for="id_R">Радиус сцены (R): </label>
    <input type="number" step="any" name="R" id="id_R" required><br/><br/>

    <label for="id_K">Ширина прохода (K): </label>
    <input type="number" step="any" name="K" id="id_K" required><br/><br/>

    <button type="submit">Проверить</button>
</form>

{% if result %}
    <h3>Результат: {{ result }}</h3>
{% endif %}
{% endblock %}
